@media (max-width: 767px) {
	.nav__toggle {
		right: 0;
		top: 0;
		margin: 1rem;
	}
	.skills-container {
		flex-wrap: wrap;
	}

	.nav__toggle svg {
		width: 3.5vw;
		/* stroke: #eba10e; */
	}
	.menu {
		display: block;
		margin-right: 3.5vw;
	}
	.nav-links-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		margin: 1rem;
	}
	.nav-links {
		display: none;
		font-size: 1rem;
	}

	#nav__checkbox:checked ~ ul.nav-links-container li {
		display: block;
	}

	#nav__checkbox:checked ~ label.nav__toggle .close {
		margin-top: 0.2rem;
		margin-right: 3.5vw;
		display: block;
	}

	#nav__checkbox:checked ~ label.nav__toggle .menu {
		display: none;
	}

	.work {
		width: 100%;
	}
}
